$color-primary: #56555E; 
$color-secondary: #9F9F9F;
$color-secondary-light: #DBDBDB;

$color-tertiary: #8B77ED;
$color-tertiary-light: #B2A4F1;

$color-white: #e9e9e9;
$color-black: #08070B;

// font
$default-font-size: 1.6rem;

$bp-smallest: 25em; // 400px
